<main>
    <div class="d-flex align-items-center">
        <div class="flex-grow-1">
            <h1 class="page-title">Kartvizitler</h1>
            <p class="page-description">Burada kartvizitler olacak</p>
        </div>

        <button mat-flat-button color="primary" style="margin-left: 16px" (click)="openAddCardModal()">Yeni
            Kartvizit</button>
    </div>


    <div class="cards">
        <div class="row">
            <div class="col-12 col-md-3" *ngFor="let card of cards">
                <app-card-item [card]="card"></app-card-item>
            </div>
            
        </div>
    </div>



</main>