<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h4 class="card-title">{{card.name}}</h4>
        <h5 class="card-subtitle">{{card.title}}</h5>
        <ul class="list-group">
            <li class="list-group-item">{{card.phone}}</li>
            <li class="list-group-item"><span *ngIf="card.email">{{card.email}}</span>
                <small class="text-warning no-content" *ngIf="!card.email">E-posta girilmemiş</small>
            </li>
            <li class="list-group-item"><span *ngIf="card.address">{{card.address}}</span>
                <small class="text-warning no-content" *ngIf="!card.address">Adres girilmemiş</small>
            </li>
        </ul>

    </div>
</div>